<mat-chip  *ngIf="!isEditable" (click)="!isEditable && toggleEditable()" [selectable]="false">
    <span>Add Tag..</span>
  </mat-chip>

  <mat-form-field class="tagInput" *ngIf="isEditable" appearance="fill" [style.fontSize.px]="14">
      <input matInput
             autocomplete="off">
      <button matSuffix mat-icon-button><mat-icon color="primary" (click)="handleRemoval()">add</mat-icon></button>
    </mat-form-field>
