<br>
<div fxLayout="row" [fxFlexOffset.gt-sm]="20" [fxFlexOffset.sm]="10" fxFlex="700px" fxFlex.lt-md="100%">
  <div>
    <div *ngIf="showQuestion">
      <app-add-question (hideQuestion)="showQuestion = false"></app-add-question>
    </div>
    <div *ngIf="!showQuestion">
      <div *ngIf="searchResults | async as sr">
        <div *ngIf="sr.length === 0 && searchTriggered"> 😮. We couldn't find any matches.. </div>
        <app-search-results [searchResults]="sr"></app-search-results>

      </div>
    </div>
  </div>
  <div [fxFlex.gt-sm]="20" [fxFlex.sm]="10">

  </div>
</div>
