<mat-card>
  <div *ngIf="editable && !answerSubmitted; else oldResponse">
      <form [formGroup]="responseForm" novalidate>
        <mat-form-field class="full-width">
          <textarea fxFlex="100"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="8"
                    matInput
                    formControlName="response"
                    placeholder="Provide an answer"></textarea>
        </mat-form-field>
        <div fxLayoutAlign="end">
            <button mat-raised-button
                    [disabled]="!responseForm.valid"
                    color="primary"
                    (click)="submitAnswer()">Submit Answer</button>
        </div>
        </form>
  </div>
  <ng-template #oldResponse>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
      <div>
        <h2 [class.negative]="!isPositive">
            {{response.votes}}
        </h2>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <button mat-icon-button
                  (click)="upvote()"
                  matTooltip="Upvote"><mat-icon>arrow_upward</mat-icon></button>
          <button mat-icon-button
                  (click)="downvote()"
                  matTooltip="Downvote"><mat-icon>arrow_downward</mat-icon></button>
      </div>
      <div>
          <p>{{response.response}}</p>
      </div>
    </div>
  </ng-template>
</mat-card>
