<div [fxFlexOffset.gt-sm]="20" [fxFlexOffset.sm]="10" fxFlex="700px" fxFlex.lt-md="100%">
  <form [formGroup]="questionForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Subject" formControlName="subject">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea fxFlex="100" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="8" matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <div fxLayoutAlign="end">
      <div>
        <button mat-raised-button color="accent" (click)="cancelQuestion()">Cancel</button>
        <button mat-raised-button [disabled]="!questionForm.valid" color="primary" (click)="submitQuestion()">
          Submit Question</button>
      </div>
    </div>
  </form>
</div>
