<mat-chip [disableRipple]="isEditable"  (click)="!isEditable && toggleEditable()">
  <span>{{tag.name}}</span>
  <span *ngIf="isEditable"><button mat-icon-button><mat-icon color="warn" (click)="handleRemoval()" matTooltip="Remove Tag">delete</mat-icon></button></span>
</mat-chip>
