<div *ngFor="let item of searchResults">
  <a [routerLink]="['/questions/' + item.id]">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="start start">
        <div fxFlex="150px" fxLayout="column" fxLayoutAlign="space-between start" style="min-height:100px">
          <div>
            <span><mat-icon>comment </mat-icon><h3 style="display:inline">{{item.numberOfAnswers}}</h3></span>
          </div>
          <div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
              <div>
                <h2 [class.negative]="!isPositive">
                    {{item.votes}}
                </h2>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-icon>arrow_upward</mat-icon>
                <mat-icon>arrow_downward</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div>
            <h3>{{item.title}}</h3>
            <hr>
            <p>{{truncate(item.description, 125)}}</p>
        </div>
      </div>
    </mat-card>
    <br>
  </a>
</div>
