<mat-card>
  <h2>{{title}}</h2>
  <hr>
  <p>{{description}}</p>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
     <div class="faded">tags&nbsp; </div> <app-tag-list [tags]="tags" (tagRemoved)="deleteTag($event)"></app-tag-list>
    </div>
</mat-card>
