<div [fxFlexOffset.gt-xs]="10" fxFlex="600px" [fxFlex.lt-md]="100" *ngIf="question | async as q">
  <mat-card>
  <app-question [title]="q.title" [description]="q.description" [tags]="q.tags"></app-question>
  <br>
  <button mat-button [matMenuTriggerFor]="filterMenu" matTooltip="Sort Comments"><mat-icon>filter_list</mat-icon></button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item>Most Popular</button>
    <button mat-menu-item>Most Recent</button>
  </mat-menu>
  <app-response [questionId]="q.id" editable="true"></app-response>
  <br>
  <div *ngIf="!q.answers || q.answers.length === 0; else responses">
    <p>No one has responded to this question yet. Be the first to answer</p>
  </div>

  <br>
  <ng-template #responses >

    <div *ngFor="let response of sortDesc(q.answers)">
      <app-response [questionId]="q.id" [response]="response"></app-response>
      <br>
    </div>
  </ng-template>
</mat-card>
</div>
<div [fxFlex.gt-xs]="10">

</div>
