<mat-chip-list>
  <app-add-tag></app-add-tag>
  <app-tag-view *ngFor="let tag of tags" [tag]="tag" (tagRemoved)="handleTagRemoved($event)" (tagClicked)="handleClick($event)"
  [clickedTag]="isClicked"></app-tag-view>
</mat-chip-list>
