<div class="search-header" fxLayout="row">
  <div [fxFlexOffset.gt-xs]="20" fxFlex="500px" fxFlex.xs="100%">
    <form [formGroup]="searchForm" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="100%"
                         id="search-box"
                         appearance="outline"
                         fxFlexAlign="center">

        <mat-label>Search</mat-label>
          <input type="search"
                 autocomplete="off"
                 class="search-input"
                 matInput
                 formControlName="search"
                 (keyup.enter)=handleSearch()>
          <button mat-icon-button
              matSuffix>
            <mat-icon (click)="handleSearch()" >arrow_forward</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-raised-button
                  fxHide.lt-sm="true"
                  color="primary"
                  (click)="addQuestion()"
                  matSuffix>
            <span>New Question</span>
          </button>
          <button mat-icon-button
                  fxShow.gt-xs="false"
                  color="primary"
                  (click)="addQuestion()"
                  matSuffix>
            <mat-icon >add_box</mat-icon>
          </button>
        </div>
    </form>
  </div>
</div>

<hr class="no-margin">
